.status0 {background-color: transparent;}
.status1 {background-color: #88F;}
.status2 {background-color: #F88;}
.status3 {background-color: #BBB;}
.status4 {background-color: #8F8;}
.status5 {background-color: #FF8;}
td,th {padding: 3px 3px 3px 3px;}
.ldiv {float:left; padding-right :50px;}
.menu {position: absolute; left: 10px;}
ul.menu { list-style-type: none; padding-left:0; }
#content {position: absolute; left: 150px;}
.output {overflow: auto; width: 800px; height: 400px;}
.paging {font-size: 75%;}
.wide {position:relative;width:100%;}
.dl_link {font-size: 75%; position:absolute; right:0;}
.indent {padding-left: 25px; border: 0;}
.centered {text-align: center;}
.big {font-size: larger;}
.dbg {margin-top: 75px;}
.prewrap {white-space: pre-wrap;}
.icon { margin-right: 5px; margin-left: 5px; }
.logo { width: 1eM; height: 1eM; }
.circle {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.goto { width: 60px; }
.s008 { background-color: #008; }
.s018 { background-color: #018; }
.s028 { background-color: #028; }
.s038 { background-color: #038; }
.s048 { background-color: #048; }
.s058 { background-color: #058; }
.s068 { background-color: #068; }
.s078 { background-color: #078; }
.s088 { background-color: #088; }
.s098 { background-color: #098; }
.s0A8 { background-color: #0A8; }
.s0B8 { background-color: #0B8; }
.s0C8 { background-color: #0C8; }
.s0D8 { background-color: #0D8; }
.s0E8 { background-color: #0E8; }
.s0F8 { background-color: #0F8; }
.s108 { background-color: #108; }
.s118 { background-color: #118; }
.s128 { background-color: #128; }
.s138 { background-color: #138; }
.s148 { background-color: #148; }
.s158 { background-color: #158; }
.s168 { background-color: #168; }
.s178 { background-color: #178; }
.s188 { background-color: #188; }
.s198 { background-color: #198; }
.s1A8 { background-color: #1A8; }
.s1B8 { background-color: #1B8; }
.s1C8 { background-color: #1C8; }
.s1D8 { background-color: #1D8; }
.s1E8 { background-color: #1E8; }
.s1F8 { background-color: #1F8; }
.s208 { background-color: #208; }
.s218 { background-color: #218; }
.s228 { background-color: #228; }
.s238 { background-color: #238; }
.s248 { background-color: #248; }
.s258 { background-color: #258; }
.s268 { background-color: #268; }
.s278 { background-color: #278; }
.s288 { background-color: #288; }
.s298 { background-color: #298; }
.s2A8 { background-color: #2A8; }
.s2B8 { background-color: #2B8; }
.s2C8 { background-color: #2C8; }
.s2D8 { background-color: #2D8; }
.s2E8 { background-color: #2E8; }
.s2F8 { background-color: #2F8; }
.s308 { background-color: #308; }
.s318 { background-color: #318; }
.s328 { background-color: #328; }
.s338 { background-color: #338; }
.s348 { background-color: #348; }
.s358 { background-color: #358; }
.s368 { background-color: #368; }
.s378 { background-color: #378; }
.s388 { background-color: #388; }
.s398 { background-color: #398; }
.s3A8 { background-color: #3A8; }
.s3B8 { background-color: #3B8; }
.s3C8 { background-color: #3C8; }
.s3D8 { background-color: #3D8; }
.s3E8 { background-color: #3E8; }
.s3F8 { background-color: #3F8; }
.s408 { background-color: #408; }
.s418 { background-color: #418; }
.s428 { background-color: #428; }
.s438 { background-color: #438; }
.s448 { background-color: #448; }
.s458 { background-color: #458; }
.s468 { background-color: #468; }
.s478 { background-color: #478; }
.s488 { background-color: #488; }
.s498 { background-color: #498; }
.s4A8 { background-color: #4A8; }
.s4B8 { background-color: #4B8; }
.s4C8 { background-color: #4C8; }
.s4D8 { background-color: #4D8; }
.s4E8 { background-color: #4E8; }
.s4F8 { background-color: #4F8; }
.s508 { background-color: #508; }
.s518 { background-color: #518; }
.s528 { background-color: #528; }
.s538 { background-color: #538; }
.s548 { background-color: #548; }
.s558 { background-color: #558; }
.s568 { background-color: #568; }
.s578 { background-color: #578; }
.s588 { background-color: #588; }
.s598 { background-color: #598; }
.s5A8 { background-color: #5A8; }
.s5B8 { background-color: #5B8; }
.s5C8 { background-color: #5C8; }
.s5D8 { background-color: #5D8; }
.s5E8 { background-color: #5E8; }
.s5F8 { background-color: #5F8; }
.s608 { background-color: #608; }
.s618 { background-color: #618; }
.s628 { background-color: #628; }
.s638 { background-color: #638; }
.s648 { background-color: #648; }
.s658 { background-color: #658; }
.s668 { background-color: #668; }
.s678 { background-color: #678; }
.s688 { background-color: #688; }
.s698 { background-color: #698; }
.s6A8 { background-color: #6A8; }
.s6B8 { background-color: #6B8; }
.s6C8 { background-color: #6C8; }
.s6D8 { background-color: #6D8; }
.s6E8 { background-color: #6E8; }
.s6F8 { background-color: #6F8; }
.s708 { background-color: #708; }
.s718 { background-color: #718; }
.s728 { background-color: #728; }
.s738 { background-color: #738; }
.s748 { background-color: #748; }
.s758 { background-color: #758; }
.s768 { background-color: #768; }
.s778 { background-color: #778; }
.s788 { background-color: #788; }
.s798 { background-color: #798; }
.s7A8 { background-color: #7A8; }
.s7B8 { background-color: #7B8; }
.s7C8 { background-color: #7C8; }
.s7D8 { background-color: #7D8; }
.s7E8 { background-color: #7E8; }
.s7F8 { background-color: #7F8; }
.s808 { background-color: #808; }
.s818 { background-color: #818; }
.s828 { background-color: #828; }
.s838 { background-color: #838; }
.s848 { background-color: #848; }
.s858 { background-color: #858; }
.s868 { background-color: #868; }
.s878 { background-color: #878; }
.s888 { background-color: #888; }
.s898 { background-color: #898; }
.s8A8 { background-color: #8A8; }
.s8B8 { background-color: #8B8; }
.s8C8 { background-color: #8C8; }
.s8D8 { background-color: #8D8; }
.s8E8 { background-color: #8E8; }
.s8F8 { background-color: #8F8; }
.s908 { background-color: #908; }
.s918 { background-color: #918; }
.s928 { background-color: #928; }
.s938 { background-color: #938; }
.s948 { background-color: #948; }
.s958 { background-color: #958; }
.s968 { background-color: #968; }
.s978 { background-color: #978; }
.s988 { background-color: #988; }
.s998 { background-color: #998; }
.s9A8 { background-color: #9A8; }
.s9B8 { background-color: #9B8; }
.s9C8 { background-color: #9C8; }
.s9D8 { background-color: #9D8; }
.s9E8 { background-color: #9E8; }
.s9F8 { background-color: #9F8; }
.sA08 { background-color: #A08; }
.sA18 { background-color: #A18; }
.sA28 { background-color: #A28; }
.sA38 { background-color: #A38; }
.sA48 { background-color: #A48; }
.sA58 { background-color: #A58; }
.sA68 { background-color: #A68; }
.sA78 { background-color: #A78; }
.sA88 { background-color: #A88; }
.sA98 { background-color: #A98; }
.sAA8 { background-color: #AA8; }
.sAB8 { background-color: #AB8; }
.sAC8 { background-color: #AC8; }
.sAD8 { background-color: #AD8; }
.sAE8 { background-color: #AE8; }
.sAF8 { background-color: #AF8; }
.sB08 { background-color: #B08; }
.sB18 { background-color: #B18; }
.sB28 { background-color: #B28; }
.sB38 { background-color: #B38; }
.sB48 { background-color: #B48; }
.sB58 { background-color: #B58; }
.sB68 { background-color: #B68; }
.sB78 { background-color: #B78; }
.sB88 { background-color: #B88; }
.sB98 { background-color: #B98; }
.sBA8 { background-color: #BA8; }
.sBB8 { background-color: #BB8; }
.sBC8 { background-color: #BC8; }
.sBD8 { background-color: #BD8; }
.sBE8 { background-color: #BE8; }
.sBF8 { background-color: #BF8; }
.sC08 { background-color: #C08; }
.sC18 { background-color: #C18; }
.sC28 { background-color: #C28; }
.sC38 { background-color: #C38; }
.sC48 { background-color: #C48; }
.sC58 { background-color: #C58; }
.sC68 { background-color: #C68; }
.sC78 { background-color: #C78; }
.sC88 { background-color: #C88; }
.sC98 { background-color: #C98; }
.sCA8 { background-color: #CA8; }
.sCB8 { background-color: #CB8; }
.sCC8 { background-color: #CC8; }
.sCD8 { background-color: #CD8; }
.sCE8 { background-color: #CE8; }
.sCF8 { background-color: #CF8; }
.sD08 { background-color: #D08; }
.sD18 { background-color: #D18; }
.sD28 { background-color: #D28; }
.sD38 { background-color: #D38; }
.sD48 { background-color: #D48; }
.sD58 { background-color: #D58; }
.sD68 { background-color: #D68; }
.sD78 { background-color: #D78; }
.sD88 { background-color: #D88; }
.sD98 { background-color: #D98; }
.sDA8 { background-color: #DA8; }
.sDB8 { background-color: #DB8; }
.sDC8 { background-color: #DC8; }
.sDD8 { background-color: #DD8; }
.sDE8 { background-color: #DE8; }
.sDF8 { background-color: #DF8; }
.sE08 { background-color: #E08; }
.sE18 { background-color: #E18; }
.sE28 { background-color: #E28; }
.sE38 { background-color: #E38; }
.sE48 { background-color: #E48; }
.sE58 { background-color: #E58; }
.sE68 { background-color: #E68; }
.sE78 { background-color: #E78; }
.sE88 { background-color: #E88; }
.sE98 { background-color: #E98; }
.sEA8 { background-color: #EA8; }
.sEB8 { background-color: #EB8; }
.sEC8 { background-color: #EC8; }
.sED8 { background-color: #ED8; }
.sEE8 { background-color: #EE8; }
.sEF8 { background-color: #EF8; }
.sF08 { background-color: #F08; }
.sF18 { background-color: #F18; }
.sF28 { background-color: #F28; }
.sF38 { background-color: #F38; }
.sF48 { background-color: #F48; }
.sF58 { background-color: #F58; }
.sF68 { background-color: #F68; }
.sF78 { background-color: #F78; }
.sF88 { background-color: #F88; }
.sF98 { background-color: #F98; }
.sFA8 { background-color: #FA8; }
.sFB8 { background-color: #FB8; }
.sFC8 { background-color: #FC8; }
.sFD8 { background-color: #FD8; }
.sFE8 { background-color: #FE8; }
.sFF8 { background-color: #FF8; }
