/* graph */
.graph {
	position: relative;
}
.chart {
	position: absolute;
	top: 0;
	left: 40px;
	right: 150px;
	bottom: 30px;
}

/* y axis */
.yaxis {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
	height: 100%;
}
.yaxis svg {
	height: 105%;
}

/* x axis */
.xaxis {
	position: absolute;
	left: 40px;
	right: 0;
	height: 30px;
	bottom: 0;
}

/* axis common */
.rickshaw_graph .y_axis,
.rickshaw_graph  .x_axis_d3 {
	fill: none;
}
.rickshaw_graph .y_ticks .tick,
.rickshaw_graph .x_ticks_d3 .tick {
	stroke: rgba(0, 0, 0, 0.16);
	stroke-width: 2px;
	shape-rendering: crisp-edges;
	pointer-events: none;
}
.rickshaw_graph .y_grid .tick,
.rickshaw_graph .x_grid_d3 .tick {
	z-index: -1;
	stroke: rgba(0, 0, 0, 0.20);
	stroke-width: 1px;
	stroke-dasharray: 1 1;
}
.rickshaw_graph .y_grid path,
.rickshaw_graph .x_grid_d3 path  {
	fill: none;
	stroke: none;
}
.rickshaw_graph .y_ticks path,
.rickshaw_graph .x_ticks_d3 path {
	fill: none;
	stroke: #808080;
}
.rickshaw_graph .y_ticks text,
.rickshaw_graph .x_ticks_d3 text {
	opacity: 0.75;
	font-size: small;
	pointer-events: none;
}

/* legend */
.rickshaw_legend {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 30px;
	width: 150px;
}
.rickshaw_legend ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 2px;
	cursor: pointer;
}
.rickshaw_legend li {
	padding: 0 0 0 2px;
	min-width: 80px;
	white-space: nowrap;
	clear: both;
	line-height: 140%;
	padding-right: 15px;
	margin-left: 5px;
}
.rickshaw_legend .swatch {
	width: 10px;
	height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.rickshaw_legend .line .swatch {
	display: inline-block;
	margin-right: 3px;
}
.rickshaw_legend .action {
	margin-right: 0.2em;
	font-size: 10px;
	opacity: 1;
	cursor: pointer;
	font-size: 14px;
}
.rickshaw_legend .disabled {
	opacity: 0.5;
}
.rickshaw_legend .disabled .action {
	opacity: 0.2;
}

/* annotations */
.rickshaw_graph .detail {
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.2);
	bottom: 0;
	width: 1px;
}
.rickshaw_graph .detail.inactive {
	opacity: 0;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
}
.rickshaw_graph .detail .x_label {
	padding: 3px;
	opacity: 0.75;
	border: 1px solid black;
	font-size: small;
	position: absolute;
	background: white;
	white-space: nowrap;
}
.rickshaw_graph .detail .item {
	position: absolute;
	z-index: 2;
	padding: 0.25em;
	font-size: small;
	opacity: 0;
	background: white;
	border: 1px solid black;
	margin-left: 1em;
	margin-top: -1em;
	white-space: nowrap;
}
.rickshaw_graph .detail .item.active {
	opacity: 1;
}
.rickshaw_graph .detail .item:before {
	content: "\25c2";
	position: absolute;
	left: -0.5em;
	color: rgba(0, 0, 0, 0.7);
	width: 0;
}
.rickshaw_graph .detail .dot {
	width: 2px;
	height: 2px;
	margin-left: -1px;
	margin-top: -3px;
	border-radius: 3px;
	position: absolute;
	background: white;
	border-width: 2px;
	border-style: solid;
	display: none;
	background-clip: padding-box;
}
.rickshaw_graph .detail .dot.active {
	display: block;
}
